NODE_ENV=xxxx
PORT=xxx
JWT_KEY=xxxx
DB_USERNAME=xxxx
DB_PASSWORD=xxxx
DB_HOST=xxxx
DB_DIALECT=xxxx
DB_DEVELOPMENT=xxxx
DB_TEST=xxxx
DB_PRODUCTION=xxxx
MIDTRANS_SERVER_KEY=xxxx
MIDTRANS_CLIENT_KEY=xxxx
MIDTRANS_PRODUCTION=xxxxx
MIDTRANS_URL_SANDBOX=xxxx
MIDTRANS_URL_PRODUCTION=xxxx
